@use "./variables.scss" as *;

/* Breadcrumb */

.sort .section-title {
  justify-content: left;
  font-family: $primaryfont;
  font-size: 14px;
  letter-spacing: 4px;
  width: auto;
}

.sort {
  @include flex-center; 
  gap: 10px;
  flex-wrap: nowrap;
}