@use "./variables.scss" as *;

/* Header and Footer */

header, footer {
  @include flex-center;
  padding: 30px;
  background: $accentcolor;
  flex-direction: column;
  gap: 12px;
}

header { 
  position: fixed;
  z-index: 9;
  width: 100%;
}

footer {
  font-size: 12px;
  color: $greycolor;
  margin-top: 150px;
}

/* Fixed Header */

.header {
  &.fixed {
    position: fixed;
    z-index: 99999;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
  } 

  &.fixed .header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &-filter { 
    display: none; 
  }

  &.fixed .header-filter { 
    @include flex-center;
    color: $whitecolor; 
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; 
    gap: 10px;
  }
} 

@media screen and (max-width: 768px) {
  .header.fixed  {
    .header-filter {
      gap: 20px;
      flex-direction: column;
    }
    
    .header-container {
        flex-direction: column;
        gap: 10px;
    }
  }
}