@use "./variables.scss" as *;

/* Main Layout */

main, .banner, .header-container {
  margin: 0 auto;
  max-width: 1150px;
}

.compflex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;

  .section {
      margin-bottom: 0px;
  }
}

.compflex { 
  .year {
      flex-basis: 38%;
  }

  .number {
      flex-basis: 60%;
  }
}

/* Section */

.section {
  @include flex-center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  background: $whitecolor;
  @include whiteborder;
  margin: 20px auto;
}

.section-title {
  width: 100%;
  @include flex-center;
  letter-spacing: 5px;
  font-size: 16px;
  line-height: 2.0;
}

.section-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Banner */ 

.banner {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
  padding-top: 150px;
  flex-wrap: wrap; 

  > div {
      @include flex-center;
      text-align: center;
  }

  .post-it {
    position: relative; 
  
    .post-it-rotate {
      position: absolute;
      color: $greycolor;
      @include transform(rotate(-11deg));
      line-height: 3;
      letter-spacing: 6px;
      max-width: 300px;
      font-size: 11px;
      font-family: $secondaryfont;
    }
  
    .post-it-img {
      max-width: 440px;
      position: relative;
    }
  }
}

/* Hide and Show */

.hidden { 
  display: none; 
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1170px) { 
  main, .banner, .header-container {
    padding-inline: 20px;
  }
}

@media screen and (max-width: 768px) {
  .compflex .year , 
  .compflex .number, 
  .section {
    width: 90%;
    flex-basis: 90%;
  }

  .banner {
    flex-direction: column;

    .post-it .post-it-rotate {
      font-size: 10px;
      max-width: 250px;
    }

    .post-it .post-it-img {
      max-width: 85%;
    }
  }

  .section.number {
    order: 3;
  }

  .desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: flex;
  }
}