@use "./variables.scss" as *;

/* Map */

.map {
  &.section {
    border-top: $whitecolor 100px solid;
    position: relative;
  }

  button {
    position: absolute;
  }

  button.all {
    top: 10px;
    right: 10px; 
  }

  .map-img { 
    max-width: 100%; 
  }
  
  .section-title {
    position: absolute;
    top: -50px;
  }

  .map-buttons {
    position: relative;
    padding-top: 4px;
    background-color: $bluecolor;
  
    &.zoom-on {
      transform: scale(1.8);
    }
  
    .active .hidden {
    display: flex;
    letter-spacing: 3px;
    position: absolute;
    font-size: 11px;
    font-weight: 400;
    margin-left: 25px;
    background: $greycolor;
    padding: 5px 8px;
    color: $accentcolor;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: max-content;
    font-family: "Indie Flower", cursive; 
    }
  
    .active .hidden:before {
      content: "";
      position: absolute;
      left: -12.6px;
      top: 0px;
      width: 0px;
      height: 0px;
      border-top: 13px solid transparent;
      border-bottom: 13px solid transparent;
      border-right: 13px solid $greycolor;
    }
  
    .fi { 
      margin-left: 5px;
    }
  
    .fa-house {
      font-size: 14px;
    }
  
    .fa-person-walking-luggage {
      font-size: 19px;
    }
  
    svg {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      right: 0;
    }
  
    button.active, 
    button:focus {
      color: $greycolor;
      outline: none;
      box-shadow: none;
    }
  }  
}

/* Zoom Buttons */

.zoom-controls {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 9;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  button {
    min-width: 100%;
    position: static;
  }

  .zoom-directions {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    gap: 5px 5px; 
    grid-template-areas: 
      ". up ."
      "left center right"
      ". down ."; 
  
    .left { grid-area: left; }
    .center { grid-area: center; }
    .up { grid-area: up; }
    .right { grid-area: right; }
    .down { grid-area: down; }
  
    button i {
      height: 12px;
      width: 12px;
      font-size: 12px; 
    }
  }
}

/* Map Buttons Country */

.map .map-buttons-container {
  overflow: hidden;

  button {
    font-size: 16px;
    color: $accentcolor;
    background: none;
    padding: 0px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  button i:hover {
    opacity: 65%;
  }

  button.gr {
    left: 54.5%;
    top: 27.3%;
  }

  button.ma {
    top: 32%;
    right: 51.8%;
  }

  button.es {
    top: 26%;
    right: 51%;
  }

  button.it {
    top: 22%;
    right: 47.5%;
  }

  button.va {
    top: 24.2%;
    right: 46.7%;
  }

  button.de {
    top: 18%;
    right: 47.5%;
  }

  button.gb-nir {
    top: 16%;
    right: 51.5%;
  }

  button.gb-eng {
    top: 17.8%;
    right: 50.3%;
  }

  button.ie {
    top: 18%;
    right: 52.1%;
  }

  button.gb-sct {
    top: 14.5%;
    right: 50.9%;
  }

  button.fr {
    top: 22%;
    right: 49.5%;
  }

  button.mt {
    top: 29%;
    right: 46.1%;
  }

  button.cy {
    top: 29.5%;
    right: 41.2%;
  }

  button.at {
    top: 20.7%;
    right: 46.8%;
  }

  button.cz {
    top: 19%;
    right: 46.2%;
  }

  button.be {
    top: 18.4%;
    right: 49.1%;
  }

  button.nl {
    top: 16.8%;
    right: 48.5%;
  }

  button.hu {
    top: 20.5%;
    right: 45%;
  }

  button.lv {
    top: 14.5%;
    right: 44.1%;
  }

  button.us {
    top: 27%;
    left: 23%;
  }

  button.pl {
    top: 17%;
    right: 45.4%;
  }

  button.bs {
    top: 37.4%;
    left: 27.7%;
  }

  button.cl {
    bottom: 24%;
    left: 29.5%;
  }

  button.ar {
    bottom: 18%;
    left: 32%;
  }

  button.bo {
    bottom: 30%;
    left: 31%;
  }

  button.co {
    bottom: 44%;
    left: 28%;
  }

  button.ec {
    bottom: 41%;
    left: 27%;
  }
}

// @media screen and (max-width: 768px) {
//   .map .map-buttons {
//     background-color: $whitecolor;
//   }

//   .map-buttons { 
//     height: auto; 
//     background: transparent;

//     .fa-map-pin {
//         display: none;
//     }
//     .fa-house {
//         display: none;
//     }
//   }

//   .map {
//     &.section {
//       background: $whitecolor;
//       border: $whitecolor 45px solid;
//       box-shadow: 0 0 21px #b2b2c3;
//     }

//     .section-title {
//         position: static;
//     }

//     .map-buttons button {
//         border: 1px solid;
//         border-radius: 4px;
//         padding: 4px 8px;
//         letter-spacing: 3px;
//         font-size: 14px;
//     }

//     button { 
//         margin: 6px; 
//     }
//   }

//   .map-img {
//       border: $whitecolor solid 20px;
//       box-shadow: none;
//   }

//   .zoom-controls {
//       display: none;
//   }

//   .map, .section {
//       max-width: 90%;
//       margin: 20px auto;

//       button, button.active, button:focus {
//           position: static;
//       }

//     button:not(.All) { display: inline ;}

//     span.hidden {
//       display: block;
//       font-size: 14px;
//       font-family: $secondaryfont;
//     }

//     .map-buttons .active .hidden { 
//       position: static; 
//       font-size: 14px; 
//       margin-left: 0px;
//       background: $accentcolor2;
//       color: $whitecolor;
//     }
//   }

//   .map-buttons-container button.active:not(.All), 
//   .map-buttons-container button:focus:not(.All) { 
//     background: $accentcolor2; 
//   } 
// }

.map .select-buttons {
  display: none;
}

@media screen and (max-width: 768px) {
  .map {
    &.section {
      border-inline: none;
      border-bottom: #ffffff 20px solid;
      border-top: #ffffff 130px solid;
    }

    .map-buttons.zoom-on {
      transform: scale(2.5);
    }

    .map-buttons button {
      pointer-events: none;
    }

    .map-buttons .active .hidden {
      font-size: 7px;
      padding: 3px 5px;
      margin-left: 15px;
      border-top-right-radius: 1.5px;
      border-bottom-right-radius: 1.5px;
      letter-spacing: 1.5px;
    }

    .map-buttons .active .hidden:before {
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-right: 8px solid #f3f3f2;
      left: -8px;
    }

    .map-buttons-container button {
      font-size: 7px;
    }

    .map-buttons .fa-house {
      font-size: 6px; 
    }

    .section-title {
      padding-inline: 45px;
      top: -80px;
    }

    button.all {
      display: none;
    }

    .select-buttons:before { 
      content: "\f57d";
      font-weight: bold;
    }

    .select-buttons {
      display: flex;
    }

    .zoom-controls {
      position: static;
      flex-direction: row;
      width: 100%;
      justify-content: space-evenly;
      padding-inline: 45px;
  
      button {
        min-width: auto;
        box-shadow: 0 0 9px #bbbbbb;
      }
  
      > button {
        width: 100%;
        line-height: 1.65;
      }
    }
  }
}