@use "./variables.scss" as *;

/* Search */

.search { 
  position: relative;

  input {
      font-family: "Work Sans";
      background: $greycolor;
      padding: 14px 20px 14px 40px;
      font-size: 11px;
      border: none;
      letter-spacing: 1.5px;
      display: inline;
      width: 100%;
      text-transform: uppercase;
  }

  i {
      position: absolute;
      top: 12px;
      left: 12px;
      color: $accentcolor;
      display: inline-block;
  }

  .input-hidden-label {
      height: 0;
      visibility: hidden;
      padding: 0px 20px;
  }
}

.no-results {
  font-size: 18px;
  margin: 45px 20px 0px 20px;
}