@use "./variables.scss" as *;

/* Search */

.search { 
  &.section {
    border: $whitecolor 25px solid;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 45px;
    border-right-width: 45px;
  }

  .search-input {
    position: relative;
  }

  input {
    font-family: "Work Sans";
    background: $greycolor;
    padding: 14px 20px 14px 40px;
    font-size: 11px;
    border: none;
    letter-spacing: 1.5px;
    display: inline;
    width: 100%;
    text-transform: uppercase;
  }

  i {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $accentcolor;
    display: inline-block;
  }

  .search-input-hidden-label {
    height: 0;
    visibility: hidden;
    padding: 0px 20px;
  }
}