@use "./variables.scss" as *;

/* Slider */

.slider {
  display: flex;
  max-width: 100%;
  padding-block: 20px;
  justify-content: space-around;
  align-items: center;
  position: relative;

  .slide .slider-content {
    max-height: 600px;
    border-radius: 5px;
  }

  .slider-content.-text {
    background: #8686b7;
    color: $whitecolor;
    padding: 7% 7% 60px;
    @include flex-center;
    max-width: 600px;
    height: 600px;
    line-height: 2.0;
  }

  .slide {
    display: none;
  }

  .slide.show {
    display: flex;
    justify-content: center;
  }

  .slider-content.-text p {
    font-size: 40px;
    font-family: $secondaryfont;
  }

  .slider-destination-info {
    position: absolute;
    bottom: 40px;
    text-align: center;
    color: $whitecolor;
    font-size: 14px;
    font-weight: bold;
    font-family: $secondaryfont;
    background: grey;
    padding: 7px 12px;
    border-radius: 5px;
    letter-spacing: 2px;
  }
}


@media screen and (max-width: 768px) {
  .slider {
    img {
      max-width: 100%;
    }
    
    .slider-btn {
      position: absolute;
      bottom: -90px;
      height: 70px;
    }
    
    .slider-btn.-next {
      right: 0px;
    }
    
    .slider-btn.-previous {
      left: 0px;
    }

    .slider-content, 
    .slider-content.-text {
      max-height: 460px;
      height: 100%;
    }

    .slider-content.-text p {
      font-size: 30px;
    }
  }
}