@use "./variables.scss" as *;

/* Sort */

.sort {
  @include flex-center; 
  gap: 10px;
  flex-wrap: nowrap;

  .section-title {
    justify-content: left;
    font-family: $secondaryfont;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1.5px;
    width: auto;
  }
}