/* Define Variables */

$primaryfont: "Work Sans", sans-serif;
$secondaryfont: "Indie Flower", cursive;

$accentcolor: #8686b8;
$beigecolor: #f3f3f2;

$box-shadow: 0 0 21px #b2b2c3;

/* Mixin */

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

@mixin whiteborder {
     box-shadow: $box-shadow;
     border-radius: 4px;
     border: #ffffff 45px solid;
  }

/* CSS reset */

html, body, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-weight: 300;
}

/* Element styles */

body {
    background-color: $beigecolor;
    font-family: $primaryfont;
    letter-spacing: 1.0px;
    background-image: url("./whitemap.png");
    background-position: top center;
   }

* { box-sizing: border-box; }

h1 {
    color: $beigecolor;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.0;

     i {
        padding-right: 20px;
    }

}

h2 { text-transform: uppercase; }


/* Header and Footer */

header, footer {
    @include flex-center;
    padding: 30px;
    background: $accentcolor;
    flex-direction: column;
    gap: 12px;
}

header { margin-bottom: 50px; }

header nav button {
    border: none;
    padding: 10px 20px;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $primaryfont;
    font-weight: 100;
    background: $beigecolor;
    cursor: pointer;
    margin-right: 20px;
     }

nav button:last-child {
    margin-right: 0px;
    }

footer {
    font-size: 12px;
    color: $beigecolor;
    margin-top: 100px;
}

footer .social-icons a {
    font-size: 18px;
    color: $beigecolor;
    margin: 5px;
}

main, .banner, .container {
    margin: 0 auto;
    max-width: 1150px;
}

/* Breadcrumb */

.timeline-section.bread-search {
    border: #ffffff 25px solid;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 45px;
    border-right-width: 45px;
}

.breadcrumb .filter-title {
    justify-content: left;
    font-family: 'Work Sans';
    font-size: 14px;
    letter-spacing: 4px;
}

/* Search */

.search { position: relative;}

.search input {
    font-family: "Work Sans";
    background: #f3f3f2;
    padding: 14px 20px 14px 40px;
    font-size: 11px;
    border: none;
    letter-spacing: 1.5px;
    display: inline;
    width: 100%;
    text-transform: uppercase;
}

.search i {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $accentcolor;
    display: inline-block;
}

.search .input-hidden-label {
    height: 0;
    visibility: hidden;
    padding: 0px 20px;
}

.no-results {
    font-size: 18px;
    margin: 45px 20px 0px 20px;
}

/* Card */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 48px;
}

.card {
    display: flex;
    padding: 20px 0px;
    max-width: 929px;
    position: relative;
}

.card_left {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    @include flex-center;

    .travel_img {
        max-width: 350px;
        height: 515px;
        @include whiteborder;
        border-bottom: 80px #ffffff solid;
      }
}


.card .card_right {
        padding-left: 20px;
        line-height: 2.0;
        @include flex-center;
        flex-direction: column;
        width: 100%;

        > div {
            margin: 5px 0px;
        }
    }

.card .card_right { display: none; }

.card.card-open .card_right {
    display: flex;
    position: absolute;
    background: #ffffff;
    padding: 0px 36px;
    height: 93%;
    gap: 20px;
    cursor: pointer;
 }


.travel_locationData, .travel_dates {
    @include flex-center;
    gap: 10px;
}

.travel_locationData {
    flex-direction: column;
}

.travel_dates {
    text-transform: uppercase;
    font-size: 12px;
}

span.travel_location {
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 7px;
}

span.travel_description {
    text-align: center;
}

.travel_locationData i, .travel_locationData a {
    color: $accentcolor;
}

.travel_locationData a {
    text-underline-offset: 4px;
}

.travel_title {
    font-size: 25px;
    text-transform: capitalize;
    font-size: 1.5em;
}

.travel_title2 {
    font-family: $secondaryfont;
    letter-spacing: 5px;
    position: absolute;
    bottom: 25px;
    font-size: 1.5em;
}


/* Number */

.number {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 6px;
    color: $accentcolor;
}

.timeline-num {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 20px;
}

.number-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}



/* Banner */

.banner {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;

    > div {
        width: 100%;
        @include flex-center;
        text-align: center;
    }
}

.polaroid-banner {
    position: relative;

    img {
        max-width: 380px;
        @include whiteborder;
        border-bottom: 80px white solid;
    }

}


.ninety-days-banner {
    h2 {
    position: absolute;
    color: $beigecolor;
    @include transform(rotate(-12deg));
    line-height: 3;
    letter-spacing: 6px;
    max-width: 303px;
    font-size: 21px;
    font-family: $secondaryfont;
    }

    img {
        max-width: 420px;
        position: relative;
    }
}

/* Sidebyside components */

.compflex .timeline-section {
    margin: 20px 0px;
}

.compflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.compflex > div:first-child {
    width: 38%;
}

.compflex > div:last-child {
    width: 60%;
}

/* Map Filter */

img.button-map {
    @include whiteborder;
    background-color: $beigecolor;
    width: 100%;
    height: auto;
    border-top: white 100px solid;
    border-bottom: white 20px solid;
}

.button-map-section {
    position: relative;
    text-align: center;

     button {
    position: absolute;
    border: none;
    color: $beigecolor;
    background: $accentcolor;
    padding: 10px 15px;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $primaryfont;
    font-weight: 100;
    cursor: pointer;
   }

    button:focus {
        outline: 4px solid white;
        box-shadow: $box-shadow;
    }



}

.hidden { display: none; font-family: "Indie Flower", cursive; }

.active .hidden {
    display: block;
    position: absolute;
    font-size: 22px;
    font-weight: 400;
    padding-left: 25px;
}

button.deactivate {
    opacity: 40%;
    pointer-events: none;
}
button.active.deactivate {
    box-shadow: 0 0 21px #000000; 
}


/* Map Buttons */


.button-map-section button:hover {
    opacity: 65%;
}

.button-map-section {

        button.Greece {
            left: 47%;
            top: 37%;
        }

        button.Morrocco {
            top: 41%;
            right: 60%;
        }

        button.Spain {
            top: 35%;
            right: 58.5%;
        }

        button.Italy {
            top: 36%;
            right: 53%;
        }

        button.Vatican.City {
            top: 33%;
            right: 54%;
        }

        button.Germany {
            top: 28%;
            right: 54.5%;
        }

        button.Northern.Ireland {
            top: 27%;
            right: 58.8%;
        }

        button.England {
            top: 28%;
            right: 57.5%;
        }

        button.France {
            top: 32%;
            right: 57%;
        }

        button.Malta {
            top: 38%;
            right: 53.8%;
        }

        button.Cyprus {
            top: 38%;
            right: 48.5%;
        }

        button.Austria {
            top: 31%;
            right: 53.5%;
        }

        button.Czech.Republic {
            top: 29.5%;
            right: 53.5%;
        }

        button.Belgium {
            top: 29.5%;
            right: 56%;
        }

        button.Netherlands {
            top: 27.5%;
            right: 55.5%;
        }

        button.Hungary {
            top: 31%;
            right: 52%;
        }

        button.All {
            top: 8%;
            right: 7%;
            padding: 10px 20px;
            background: #f3f3f2;
            color: #8686b8;
            font-weight: 400;
        }

        button.Latvia {
            top: 25%;
            right: 51%;
        }

        button.United.States {
            left: 14%;
            top: 36%;
        }

        button.Poland {
            top: 28%;
            right: 53%;
        }

       button:not(.All) {
            font-size: 25px;
            color: #8686b8;
            background: none;
            padding: 0px;
            display: flex;
            align-items: center;
        }

}

h2.filter-title {
    position: absolute;
    width: 100%;
    @include flex-center;
    top: 45px;
    font-family: $secondaryfont;
    letter-spacing: 5px;
}

/* Year */

.year-buttons select {
    font-family: "Work Sans";
    letter-spacing: 1.5px;
    font-weight: 100;
    cursor: pointer;
    background: #f3f3f2;
    border: none;
    padding: 14px 45px 14px 45px;
    font-size: 13px;
    text-transform: uppercase;
    appearance: none;
    pointer-events: all;
}

.year-buttons { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    pointer-events: none;
}

.year-buttons:before {
    font-family: "Font Awesome 6 Free"; 
    content: "\f073";
    font-size: 20px;
    color: $accentcolor;
    margin-bottom: 2px;
    position: absolute;
    left: 12px;
  }

  .year-buttons:after {
    font-size: 20px;
    color: $accentcolor;
    margin-bottom: 2px;
    position: absolute;
    right: 12px;
    font-family: "FontAwesome"; 
    content: "\f078";
  }

/* Timeline section */

.timeline-section {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    @include whiteborder;
    margin: 20px auto;

    .filter-title { position: static; }

     button {
        border: none;
        padding: 10px 20px;
        letter-spacing: 3px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $primaryfont;
        font-weight: 100;
        color: $beigecolor;
        background: $accentcolor;
        cursor: pointer;
        border-right: 4px solid #ffffff;
    }

      button:last-child { border-right: none; }

}


/* Button focus styles */

button.active, button:focus {
    outline: 4px solid white;
    border-right: none;
    z-index: 999;
    position: relative;
    box-shadow: 0 0 21px #363646;
   }

   .button-map-section button.active,
   .button-map-section button:focus {
    position: absolute;
}

.button-map-section button.active:not(.All),
.button-map-section button:focus:not(.All) {
    color: black;
    outline: none;
    box-shadow: none;
}

.button-map-section button.active.All {  box-shadow: 0 0 21px $accentcolor;} 

/* Mobile Styles */

@media screen and (max-width: 768px) {

    .ninety-days-banner h2 {
        font-size: 4.1vw;
        max-width: 65%;
    }

    .banner, .card {
        flex-direction: column;
    }

    .compflex .timeline-section { margin: 20px auto;}

    .compflex>div:first-child, .compflex>div:last-child {
        width: 90%;
    }

    .card { gap: 40px; }

    .button-map-section, .timeline-section {
        max-width: 90%;
        margin: 20px auto;

        button, button.active, button:focus {
            position: static;
        }

       button:not(.All) { display: inline ;}

       span.hidden {
        display: block;
        font-size: 14px;
      }

      .active .hidden { position: static; font-size: 14px; padding-left: 0px; }

    }

    .button-map-section button { margin: 6px; }



    .timeline-section .timeline-buttons {
        @include flex-center;
        flex-wrap: wrap;
        gap: 10px;


        button:last-child { border-right: 4px solid #8686b7; }

    }


    .polaroid-banner img, .ninety-days-banner img {  max-width: 90%; }


}

