/* Define Variables */

$primaryfont: "Work Sans", sans-serif;
$secondaryfont: "Indie Flower", cursive;

$accentcolor: #8686b8;
$accentcolor2: #b6b6ce;
$beigecolor: #f3f3f2;

$box-shadow: 0 0 21px #b2b2c3;

/* Mixin */

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin transform($property) {
    -webkit-transform: $property;
    -ms-transform: $property;
    transform: $property;
  }

@mixin whiteborder {
     box-shadow: $box-shadow;
     border-radius: 4px;
     border: #ffffff 45px solid;
  }

/* CSS reset */

html, body, p, h1, h2, h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-weight: 300;
}

ul {
    margin: 0;
    list-style-type: none;
    padding-left: 0px;
    text-align: left;
}

/* Element styles */

body {
    background-color: $beigecolor;
    font-family: $primaryfont;
    letter-spacing: 1.0px;
    background-image: url("./whitemap.png");
    //  background-image: url("./world.svg");
    background-position: top center;
   }

* { box-sizing: border-box; }

h1 {
    color: $beigecolor;
    font-size: 16px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 2.0;

     i {
        padding-right: 20px;
    }

}

button { cursor: pointer; }

h2 { 
    text-transform: uppercase;
    
    i {
        padding-right: 20px;
    }

}


/* Header and Footer */

header, footer {
    @include flex-center;
    padding: 30px;
    background: $accentcolor;
    flex-direction: column;
    gap: 12px;
}

header { 
    position: fixed;
    z-index: 9;
    width: 100%;
 }

header nav button {
    border: none;
    padding: 10px 20px;
    letter-spacing: 3px;
    font-size: 12px;
    text-transform: uppercase;
    font-family: $primaryfont;
    font-weight: 100;
    background: $beigecolor;
    cursor: pointer;
    margin-right: 20px;
     }


   header .filter-button {
        padding: 12px 20px;
        background: #f3f3f2;
        color: #8686b8;
        letter-spacing: 2px;
        font-size: 11px;
        font-family: "Work Sans";
        border: none;
        border-radius: 2px;
        margin-left: 10px;
        text-transform: uppercase;
    } 

    header .filter-button:hover {
        opacity: 80%;
        background: #f3f3f2;
        color: #8686b8;
    }

nav button:last-child {
    margin-right: 0px;
    }

footer {
    font-size: 12px;
    color: $beigecolor;
    margin-top: 150px;
}

main, .banner, .container {
    margin: 0 auto;
    max-width: 1150px;
}

main {
    margin: 50px auto 0px auto;
}

/* Breadcrumb */

.timeline-section.bread-search {
    border: #ffffff 25px solid;
    flex-direction: row;
    justify-content: space-between;
    border-left-width: 45px;
    border-right-width: 45px;
}

.breadcrumb .filter-title {
    justify-content: left;
    font-family: 'Work Sans';
    font-size: 14px;
    letter-spacing: 4px;
}

/* Search */

.search { position: relative;}

.search input {
    font-family: "Work Sans";
    background: #f3f3f2;
    padding: 14px 20px 14px 40px;
    font-size: 11px;
    border: none;
    letter-spacing: 1.5px;
    display: inline;
    width: 100%;
    text-transform: uppercase;
}

.search i {
    position: absolute;
    top: 12px;
    left: 12px;
    color: $accentcolor;
    display: inline-block;
}

.search .input-hidden-label {
    height: 0;
    visibility: hidden;
    padding: 0px 20px;
}

.no-results {
    font-size: 18px;
    margin: 45px 20px 0px 20px;
}

/* Card */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;
}

.card {
    display: flex;
    padding: 20px 0px;
    max-width: 929px;
    position: relative;
}

.card-left {
    position: relative;
    border: none;
    padding: 0;
    cursor: pointer;
    @include flex-center;

    .travel_img {
        max-width: 350px;
        height: 515px;
        @include whiteborder;
        border-bottom: 80px #ffffff solid;
      }
}


.card .card-right {
        padding-left: 20px;
        line-height: 2.0;
        @include flex-center;
        flex-direction: column;
        width: 100%;
        border-radius: 4px;

        > div {
            margin: 5px 0px;
        }
    }

.card .card-right { display: none; }

.card.card-open .card-right {
    display: flex;
    position: absolute;
    background: #ffffff;
    padding: 0px 36px;
    height: 93%;
    gap: 20px;
    cursor: pointer;
 }


.travel_locationData, .travel_dates {
    @include flex-center;
    gap: 10px;
}

.travel_locationData {
    flex-direction: column;
}

.travel_dates {
    text-transform: uppercase;
    font-size: 12px;
}

span.travel_location {
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 7px;
}

span.travel_description {
    text-align: center;
}

.travel_locationData i, .travel_locationData a {
    color: $accentcolor;
}

.travel_locationData a {
    text-decoration: none;
}

.travel_title {
    font-size: 25px;
    text-transform: capitalize;
    font-size: 1.5em;
}

.travel_title2 {
    font-family: $secondaryfont;
    letter-spacing: 5px;
    position: absolute;
    bottom: 25px;
    font-size: 1.5em;
}


/* Number */

.number {
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 6px;
    color: $accentcolor;
}

.timeline-num {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 0 20px;
}

.number-container {
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}

/* Header */

header.fixed-header {
    position: fixed;
    z-index: 99999;
    justify-content: space-between;
    width: 100%;
    padding: 15px;
} 

header.fixed-header .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.header-filter { display: none; }

header.fixed-header .header-filter { color: #ffffff; display: block; text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }


/* Banner */

.banner {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;

    > div {
        @include flex-center;
        text-align: center;
    }
}

.polaroid-banner {
    position: relative;

    img {
        max-width: 380px;
        @include whiteborder;
        border-bottom: 80px white solid;
    }

}

.social-icons-row a {
    font-size: 100px;
    margin: auto 30px;
    color: $accentcolor;
    cursor: pointer;
}


.ninety-days-banner {

    position: relative; 

    .ninety-days-banner-rotate {
    position: absolute;
    color: $beigecolor;
    @include transform(rotate(-12deg));
    line-height: 3;
    letter-spacing: 6px;
    max-width: 300px;
    font-size: 12px;
    font-family: $secondaryfont;
    }

    img {
        max-width: 440px;
        position: relative;
    }
}

.bucketlist .ninety-days-banner img {
    max-width: 100%;
    height: auto;
    transform: rotate(8.5deg);
}

.bucketlist .ninety-days-banner li:before {
    content: '\f0c8';
    font-family: "Font Awesome 5 Free";
    margin-right: 10px;
    font-weight: 400;
}

.bucketlist .ninety-days-banner li.checked:before {
    content: '\f14a';
    margin-right: 10px;
    font-weight: 400;
}

.bucketlist .ninety-days-banner ul {
    list-style-type: none;
    padding-left: 0;
}

.bucketlist .ninety-days-banner li {
    font-size: 18px;
    text-align: left;
}

.bucketlist .ninety-days-banner .ninety-days-banner-rotate {
    max-width: 100%;
    font-size: 20px;
    transform: rotate(0deg);
    top: 15%;
}

/* Sidebyside components */

.compflex .timeline-section {
    margin: 20px 0px;
}

.compflex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.compflex > div:first-child {
    width: 38%;
}

.compflex > div:last-child {
    width: 60%;
}

/* Map Filter */

.button-map-section {
    @include whiteborder;
    background-color: $beigecolor;
    width: 100%;
    height: auto;
    border-top: white 100px solid;
    border-bottom: white 20px solid;
}

img.button-map { max-width: 100%; }


.map-buttons-container {
    overflow: hidden;
    background: #ffffff;
}

.button-map-section {
    position: relative;
    text-align: center;

     button {
    position: absolute;
    border: none;
    color: $beigecolor;
    background: $accentcolor;
    padding: 10px 15px;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: $primaryfont;
    font-weight: 100;
    cursor: pointer;
   }

    button:focus {
        outline: 4px solid white;
        box-shadow: $box-shadow;
    }



}

.hidden { display: none; font-family: "Indie Flower", cursive; }

.active .hidden {
    display: flex;
    position: absolute;
    font-size: 11px;
    font-weight: 400;
    margin-left: 25px;
    background: $accentcolor2;
    padding: 5px 8px;
    color: white;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: max-content;
}

.active .hidden:before {
    content: "";
    position: absolute;
    left: -12.6px;
    top: 0px;
    width: 0px;
    height: 0px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid $accentcolor2;
}

.map-buttons .fi { margin-left: 5px;}

button.deactivate, .deactivate button {
    opacity: 55%;
    pointer-events: none;
}

.timeline-section button.deactivate {
    opacity: 40%;
}

button.active.deactivate {
    box-shadow: 0 0 21px #000000; 
}


/* Zoom Buttons */

.map-buttons {
    transform: scale(1.2);
    transform-origin: top;
}

.zoom-directions {
    position: absolute;
    display: flex;
    left: 105.39px;
} 

.zoom-controls button {
    left: 0px;
    box-shadow: 0px 2px 3px #b2b2c3;
}


.zoom-directions button {
    position: relative;
}

.zoom-controls {
    position: relative;
    z-index: 9;
}

.map-buttons svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
}

.map-buttons {
    position: relative;
    height: 550px;
}

/* Zoom directions */ 

.zoom-on {
    transform: scale(1.8);
}

.map-buttons.zoom-on.zoom-up.zoom-left.zoom-center {
    transform-origin: top left;
}

.map-buttons.zoom-on.zoom-up.zoom-center {
    transform-origin: top;
}

.map-buttons.zoom-on.zoom-down.zoom-center {
    transform-origin: bottom;
}

.map-buttons.zoom-on.zoom-left.zoom-center {
    transform-origin: left;
}

.map-buttons.zoom-on.zoom-right.zoom-center {
    transform-origin: right;
}

.map-buttons.zoom-on.zoom-up.zoom-right.zoom-center {
    transform-origin: top right;
}

.map-buttons.zoom-on.zoom-down.zoom-right.zoom-center {
    transform-origin: bottom right;
}

.map-buttons.zoom-on.zoom-down.zoom-left.zoom-center {
    transform-origin: bottom left;
}

.map-buttons.zoom-on.zoom-center {
    transform-origin: top center;
}


/* Map Buttons */


.button-map-section .map-buttons-container button i:hover {
    opacity: 65%;
}

.button-map-section .map-buttons-container {

        button.gr {
            left: 54.6%;
            top: 22.3%;
        }

        button.ma {
            top: 26.5%;
            right: 51.8%;
        }

        button.es {
            top: 22%;
            right: 51%;
        }

        button.it {
            top: 18%;
            right: 47.5%;
        }

        button.va {
            top: 20.2%;
            right: 46%;
        }

        button.de {
            top: 14%;
            right: 47.5%;
        }

        button.gb-nir {
            top: 12%;
            right: 51.5%;
        }

        button.gb-eng {
            top: 13.8%;
            right: 50.3%;
        }

        button.ie {
            top: 13.4%;
            right: 52.1%;
        }

        button.gb-sct {
            top: 10.5%;
            right: 50.9%;
        }

        button.fr {
            top: 18%;
            right: 49.5%;
        }

        button.mt {
            top: 23.5%;
            right: 46.1%;
        }

        button.cy {
            top: 24%;
            right: 41.2%;
        }

        button.at {
            top: 16.4%;
            right: 46.8%;
        }

        button.cz {
            top: 15%;
            right: 46.2%;
        }

        button.be {
            top: 14.2%;
            right: 49.1%;
        }

        button.nl {
            top: 12.8%;
            right: 48.5%;
        }

        button.hu {
            top: 16.5%;
            right: 45%;
        }

        button.lv {
            top: 10.5%;
            right: 44.1%;
        }

        button.us {
            left: 23%;
            top: 23%;
        }

        button.pl {
            top: 13%;
            right: 45.4%;
        }

        button.bs {
            top: 30.4%;
            left: 27.3%;
        }

       button {
            font-size: 16px;
            color: #8686b8;
            background: none;
            padding: 0px;
            display: flex;
            align-items: center;
            text-transform: capitalize;
        }

}


.button-map-section button {
    padding: 10px 20px;
    background: #f3f3f2;
    color: #8686b8;
    font-weight: 400;
}

.button-map-section button.All {
    top: 2px;
    right: 2px; 
}

h2.filter-title {
    position: absolute;
    width: 100%;
    @include flex-center;
    top: -50px;
    letter-spacing: 5px;
    font-size: 16px;
}

/* Year */

.year-buttons select {
    font-family: "Work Sans";
    letter-spacing: 1.5px;
    font-weight: 100;
    cursor: pointer;
    background: #f3f3f2;
    border: none;
    padding: 14px 45px 14px 45px;
    font-size: 13px;
    text-transform: uppercase;
    appearance: none;
    pointer-events: all;
}

.year-buttons { 
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    pointer-events: none;
}

.year-buttons:before {
    font-family: "Font Awesome 6 Free"; 
    content: "\f073";
    font-size: 20px;
    color: $accentcolor;
    margin-bottom: 2px;
    position: absolute;
    left: 12px;
  }

  .year-buttons:after {
    font-size: 20px;
    color: $accentcolor;
    margin-bottom: 2px;
    position: absolute;
    right: 12px;
    font-family: "FontAwesome"; 
    content: "\f078";
  }

/* Timeline section */

.timeline-section {
    @include flex-center;
    flex-direction: column;
    gap: 20px;
    background: #ffffff;
    @include whiteborder;
    margin: 20px auto;

    .filter-title { position: static; }

     button {
        border: none;
        padding: 10px 20px;
        letter-spacing: 3px;
        font-size: 12px;
        text-transform: uppercase;
        font-family: $primaryfont;
        font-weight: 100;
        color: $beigecolor; 
        background: $accentcolor;
        cursor: pointer;
        border-right: 4px solid #ffffff;
    }

      button:last-child { border-right: none; }

}


/* Button focus styles */

:focus { outline: 4px solid white;  box-shadow: 0 0 21px #363646; }

button.active, button:focus {
    outline: 4px solid white;
    border-right: none;
    z-index: 999;
    position: relative;
    box-shadow: 0 0 21px #363646;
   }

   .button-map-section button.active,
   .button-map-section  button:focus {
    position: absolute;
}

.map-buttons-container button.active:not(.All),
.map-buttons-container button:focus:not(.All) {
    color: $accentcolor2;
    outline: none;
    box-shadow: none;
}

.map-buttons button:hover {
    opacity: 100%;
}

.zoom-directions button:focus {
    position: relative;
}

.button-map-section button.active.All {  box-shadow: 0 0 21px $accentcolor;} 

button:hover {
    opacity: 35%;
    background: $accentcolor;
    color: $beigecolor;
}

.timeline-section button:hover  { opacity: 75%; }

/* Bucket */ 

.bucketlistslogan h2 { 
    line-height: 2;
    font-size: 35px;
    letter-spacing: 5px;
    font-family: 'Indie Flower';
}

.bucketlist .polaroid-banner img { max-width: 400px; }

.suitcase {
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
}


/* Quote */

.quote blockquote {
    font-size: 40px;
    line-height: 2.0;
    padding: 0px 60px;
    margin: 0px;
    letter-spacing: 5px;
    font-family: 'Indie Flower';
} 

.quote small {
    font-size: 25px;
}


/* Comingsoon */

.coming-soon ul li { 
    font-family: 'Indie Flower'; 
    font-size: 25px;

}


/* Mobile Styles */

@media screen and (max-width: 1150px) {
    .cards-container { justify-content: space-evenly; }
    .banner { flex-wrap: wrap; }

 }



@media screen and (max-width: 768px) {

    header.fixed-header .container {
        flex-direction: column;
        gap: 10px;
    }

    header.fixed-header .header-filter {
        display: flex;
        gap: 20px;
        flex-direction: column;
    }

    .zoom-on {
        transform: none;
    }

    .map-buttons.zoom-on.zoom-up.zoom-left.zoom-center {
        transform: none;
    }

    .map-buttons .fa-map-pin {
        display: none;
    }

    .map-buttons { height: auto; }

    .banner, .card {
        flex-direction: column;
    }

    .compflex .timeline-section { margin: 20px auto;}

    .compflex>div:first-child, .compflex>div:last-child {
        width: 90%;
    }

    .card { gap: 40px; }

    .button-map-section {
        background: white;
        border: #ffffff 45px solid;
        box-shadow: 0 0 21px #b2b2c3;
    }

    img.button-map {
        border: white solid 20px;
        box-shadow: none;
    }

    .zoom-controls {
        display: none;
    }

    .button-map-section .filter-title {
        position: static;
    }

     .button-map-section .map-buttons button {
        border: 1px solid;
        border-radius: 4px;
        padding: 4px 8px;
    }

    .button-map-section, .timeline-section {
        max-width: 90%;
        margin: 20px auto;

        button, button.active, button:focus {
            position: static;
        }

       button:not(.All) { display: inline ;}

       span.hidden {
        display: block;
        font-size: 14px;
      }

      .active .hidden { position: static; font-size: 14px; padding: 0px; margin-left: 0px; }

    }

    .button-map-section button { margin: 6px; }

    .map-buttons-container button.active:not(.All), 
    .map-buttons-container button:focus:not(.All) { background: $accentcolor2; } 



    .timeline-section .timeline-buttons {
        @include flex-center;
        flex-wrap: wrap;
        gap: 10px;


        button:last-child { border-right: 4px solid #8686b7; }

    }

    .bucketlist .ninety-days-banner img, .polaroid-banner img {
        max-width: 100%;
        height: auto;
    }


    .polaroid-banner {  max-width: 90%; }

    .social-icons-row a { font-size: 60px;}

    .banner > div { overflow: hidden;}

    .bucketlist .ninety-days-banner li { font-size: 14px; }

    .bucketlist .ninety-days-banner .ninety-days-banner-rotate {
        max-width: 80%;
        position: static;
        color: #000000;
    }

    .ninety-days-banner img, .bucketlist .polaroid-banner img { max-width: 100%; }

    .bucketlist .ninety-days-banner img { display: none; }

    .quote blockquote { font-size: 30px; }


}

